.Sticky-React-Table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 1;

  &-inner {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  &--Hide {
    display: none;
  }

  &--Header {
    position: sticky;
    display: flex;
    justify-self: stretch;
    top: 0;
    left: auto;
    z-index: 10;
    background: tomato;
    color: white;
    flex-shrink: 0;
    user-select: none;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      bottom: -10px;
      height: 10px;
      background: linear-gradient(to bottom, rgba(1, 1, 1, 0.25), transparent);
      z-index: -1;
    }

    &-Cell {
      display: flex;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      position: relative;
      word-wrap: break-word;
      background: inherit;
      font-weight: bold;
      padding: 10px;
      z-index: 0;
    }

    &-Column-Switcher {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 15;

      &-Icon {
        position: relative;
        padding: 10px;
        font-weight: bold;
        background: tomato;
        color: white;
        cursor: pointer;
      }

      &-Dropdown {
        position: absolute;
        bottom: 0;
        right: 6px;
        padding: 10px;
        max-height: 300px;
        min-width: 200px;
        background: white;
        overflow: auto;
        transform: translate(0, 100%);
        box-shadow: 0 2px 5px 1px rgba(1, 1, 1, 0.15);
        border: 1px solid rgba(1, 1, 1, 0.15);
      }

      &-Item label {
        cursor: pointer;
      }
    }
  }

  &-Sort-Icon {
    margin-left: 5px;
  }

  &--Row {
    display: flex;
    justify-self: stretch;
    cursor: pointer;
    flex-shrink: 0;

    &:nth-child(even) {
      background: white;
    }

    &:nth-child(odd) {
      background: #ededed;
    }

    &:hover {
      background-color: lightblue;
    }

    &-Cell {
      display: flex;
      flex-shrink: 0;
      position: relative;
      padding: 10px;
      word-wrap: break-word;
      background: inherit;
      z-index: 0;
      border: 2px solid transparent;

      &:focus {
        border: 2px solid darken(lightblue, 17.5%);
        outline: 0;
      }
    }

    &.Sticky-React-Table--Row--is-Checked {
      background: lighten(lightblue, 5%);
    }
  }

  &--Row-Cell,
  &--Header-Cell {
    border-right: 1px solid rgba(1, 1, 1, 0.15);

    &:hover .Sticky-React-Table-Resize-Handler {
      background: rgba(1, 1, 1, 0.5);
    }

    &-Checkbox {
      border: 2px solid transparent;
      text-align: center;

      &:focus {
        border: 2px solid transparent;
      }
    }
  }

  &--Header-Cell-Checkbox {
    display: block;
  }

  &--is-Sticky {
    position: sticky;
    z-index: 1;

    &--is-Last {
      border-right: 0;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: -10px;
        top: -2px;
        bottom: -2px;
        width: 10px;
        background: linear-gradient(to right, rgba(1, 1, 1, 0.25), transparent);
      }
    }
  }

  &-Resize-Handler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: transparent;
    cursor: col-resize;
    z-index: 11;
    opacity: 1;
  }

  &-Global-Resize-Handler {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 13;
    width: 5px;
    left: 200px;
    background: rgba(1, 1, 1, 0.15);
  }
}
