html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.React-Sticky-Table {
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.React-Sticky-Table--Header {
  position: sticky;
  display: flex;
  justify-self: stretch;
  top: 0;
  left: auto;
  z-index: 10;
  background: tomato;
  color: white;
  flex-shrink: 0;
}

.React-Sticky-Table--Header-Cell {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: sticky;
  word-wrap: break-word;
  background: inherit;
  font-weight: bold;
  padding: 10px;
  z-index: 1;
}

.React-Sticky-Table--Row {
  display: flex;
  justify-self: stretch;
  cursor: pointer;
  flex-shrink: 0;
}

.React-Sticky-Table--Row:nth-child(even) {
  background: white;
}

.React-Sticky-Table--Row:nth-child(odd) {
  background: #ededed;
}

.React-Sticky-Table--Row:hover {
  background-color: lightblue;
}

.React-Sticky-Table--Row-Cell {
  display: flex;
  flex-shrink: 0;
  position: sticky;
  padding: 10px;
  word-wrap: break-word;
  background: inherit;
}

.React-Sticky-Table--Row-Cell,
.React-Sticky-Table--Header-Cell {
  border-right: 1px solid rgba(1, 1, 1, 0.15);
}

.React-Sticky-Table--is-Last-Sticky {
  border-right: 0;
}

.React-Sticky-Table--is-Last-Sticky:after {
  content: '';
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  width: 10px;
  background: linear-gradient(to right, rgba(1, 1, 1, 0.25), transparent);
}

.React-Sticky-Table--Header:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  height: 10px;
  background: linear-gradient(to bottom, rgba(1, 1, 1, 0.25), transparent);
  z-index: -1;
}

.React-Sticky-Table-Resize-Handler {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: transparent;
  cursor: col-resize;
  z-index: 11;
  opacity: 1;
}

.React-Sticky-Table--Header-Cell:hover .React-Sticky-Table-Resize-Handler,
.React-Sticky-Table--Row-Cell:hover .React-Sticky-Table-Resize-Handler {
  background: rgba(1, 1, 1, 0.5);
}

.React-Sticky-Table-Sort-Icon {
  margin-left: 5px;
}